<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px;" class="row" ng-app="chatApp" ng-controller="UsersController as usersctrl">
        <div class="col-md-4 text-center">
            <h2>Пользователи</h2>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="user in usersctrl.users">
                    <a ng-click="usersctrl.setUserIdTo(user.id)">{{user.name}}</a>
                </div>
                <div class="list-group-item text-center" ng-show="usersctrl.showInput">
                    <input ng-model="name" type="text" class="form-control" placeholder="Ваше имя">
                    <br />
                    <a class="btn btn-success" ng-click="usersctrl.addUser(name)">Присоединиться к чату</a>
                </div>
            </div>
        </div>

        <div class="col-md-8 text-center">
            <h2>Диалог</h2>
            <div style="text-align: left; height:250px; overflow-y: scroll; background-color: #4FC1E9;">
                <div ng-repeat="message in usersctrl.messages">
                    <p style="padding: 10px;">{{message.userIdFrom}} [{{message.time}}] : {{message.text}}</p>
                </div>                
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-10">
                    <textarea class="form-control" ng-model="messageText" ></textarea>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="usersctrl.sendMessage(messageText)">
                        Отправить
                    </button>
                </div>
            </div>
        </div>

        <!--<dialog useridfrom="usersctrl.userIdFrom" useridto="usersctrl.userIdTo">
        </dialog>-->

    </div>


    <script src="Scripts/jquery-3.1.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/core/app.js"></script>

</body>
</html>
